.__10-NoticeList_sectionContainer__tmyCM {
  width: 100%;
  min-height: 100vh;
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM {
    min-height: calc(100vh - 9.625rem);
  }
}
.__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_header__MICaH {
  position: relative;
}
.__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_tabs__fUKSq {
  position: relative;
  margin-top: 7.5rem;
  left: calc(50% - 80rem + 3.75rem + 20.4375rem);
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_tabs__fUKSq {
    margin-top: 5rem;
    left: calc(50% - 27.125rem);
  }
}
.__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_empty__omDeT {
  position: relative;
  margin-top: 2.625rem;
  width: 110rem;
  height: 40rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1;
  font-family: SansRegular;
  background-color: #fafafa;
  color: #888;
  border-radius: 0.5rem;
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_empty__omDeT {
    width: 100%;
    height: 50rem;
  }
}
.__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_items___hNGg {
  position: relative;
  margin-left: calc(50% - 80rem + 3.75rem + 20.4375rem);
  width: 114.375rem;
  margin-top: 2.625rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 1.5rem;
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_items___hNGg {
    margin-top: 4.5rem;
    margin-left: calc(50% - 27.125rem);
    width: 54.375rem;
    gap: 3.5rem 5rem;
    min-height: 56rem;
  }
}
.__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_items___hNGg .__10-NoticeList_item__W4sd2 {
  position: relative;
  height: 33.375rem;
  width: 37rem;
  display: flex;
  flex-direction: column;
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_items___hNGg .__10-NoticeList_item__W4sd2 {
    width: 24.625rem;
    height: 26.25rem;
  }
}
.__10-NoticeList_sectionContainer__tmyCM
  .__10-NoticeList_items___hNGg
  .__10-NoticeList_item__W4sd2
  .__10-NoticeList_imageWrapper__VQJjG {
  position: relative;
  width: 37rem;
  height: 20.8125rem;
  background-color: #191919;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.__10-NoticeList_sectionContainer__tmyCM
  .__10-NoticeList_items___hNGg
  .__10-NoticeList_item__W4sd2
  .__10-NoticeList_imageWrapper__VQJjG:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
@media (any-hover: hover) {
  .__10-NoticeList_sectionContainer__tmyCM
    .__10-NoticeList_items___hNGg
    .__10-NoticeList_item__W4sd2
    .__10-NoticeList_imageWrapper__VQJjG:hover:after {
    opacity: 1;
  }
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM
    .__10-NoticeList_items___hNGg
    .__10-NoticeList_item__W4sd2
    .__10-NoticeList_imageWrapper__VQJjG {
    width: 24.625rem;
    height: 14rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
}
.__10-NoticeList_sectionContainer__tmyCM
  .__10-NoticeList_items___hNGg
  .__10-NoticeList_item__W4sd2
  .__10-NoticeList_image__2vMeD {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.__10-NoticeList_sectionContainer__tmyCM
  .__10-NoticeList_items___hNGg
  .__10-NoticeList_item__W4sd2
  .__10-NoticeList_subtitle__dBFIV {
  position: relative;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.__10-NoticeList_sectionContainer__tmyCM
  .__10-NoticeList_items___hNGg
  .__10-NoticeList_item__W4sd2
  .__10-NoticeList_subtitle__dBFIV
  .__10-NoticeList_type__v9OVw {
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  box-sizing: border-box;
  padding: 0.07em 2.25rem 0;
  background-color: #e6e6e6;
  color: #191919;
  font-family: SansMedium;
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM
    .__10-NoticeList_items___hNGg
    .__10-NoticeList_item__W4sd2
    .__10-NoticeList_subtitle__dBFIV
    .__10-NoticeList_type__v9OVw {
    height: 1.8125rem;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    padding: 0.09em 2rem 0;
    color: gray;
    background-color: #f2f2f2;
  }
}
.__10-NoticeList_sectionContainer__tmyCM
  .__10-NoticeList_items___hNGg
  .__10-NoticeList_item__W4sd2
  .__10-NoticeList_subtitle__dBFIV
  .__10-NoticeList_date__oellB {
  position: relative;
  margin-left: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  top: 0.07em;
  font-family: SansRegular;
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM
    .__10-NoticeList_items___hNGg
    .__10-NoticeList_item__W4sd2
    .__10-NoticeList_subtitle__dBFIV
    .__10-NoticeList_date__oellB {
    margin-left: 1.25rem;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: gray;
  }
}
.__10-NoticeList_sectionContainer__tmyCM
  .__10-NoticeList_items___hNGg
  .__10-NoticeList_item__W4sd2
  .__10-NoticeList_title__Z397h {
  margin-top: 1rem;
  font-size: 1.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM
    .__10-NoticeList_items___hNGg
    .__10-NoticeList_item__W4sd2
    .__10-NoticeList_title__Z397h {
    margin-top: 1.25rem;
    white-space: wrap;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    height: 6.25rem;
  }
  .__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_paginationWrapper__gvNTt {
    position: relative;
    margin: 4.5rem auto 4.5rem calc(50% - 27.125rem);
    display: flex;
    width: 54.375rem;
    align-items: center;
    justify-content: center;
  }
  .__10-NoticeList_sectionContainer__tmyCM
    .__10-NoticeList_paginationWrapper__gvNTt.__10-NoticeList_showBackButton__0naEe {
    justify-content: space-between;
  }
}
.__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_pagination__goU3_ {
  position: relative;
  width: 30rem;
}
@media (orientation: landscape) {
  .__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_pagination__goU3_ {
    margin: 3.125rem auto 16.25rem;
  }
}
@media (orientation: portrait) {
  .__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_pagination__goU3_ {
    width: 25.5625rem;
  }
}
.__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_backButton__jEuBs {
  position: relative;
  height: 6.25rem;
  width: 25rem;
}
@media (orientation: landscape) {
  .__10-NoticeList_sectionContainer__tmyCM .__10-NoticeList_backButton__jEuBs {
    display: none;
  }
}
.__10-NoticeList_titleIcon__m0RrT {
  width: 2.625rem;
  height: auto;
}
@media (orientation: portrait) {
  .__10-NoticeList_titleIcon__m0RrT {
    width: 2.375rem;
  }
}
